.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid black;
  background-color: gray;
}
.navbar-brand {
      margin-right: auto;
    }
@media (min-width: 1200px) {
  .row > div {
    margin-left: 75px;
}}
@media (max-width: 576px) {
   .row > div {
    margin-top: 30px;
}}
@media (min-width:577px) and (max-width: 991px) {
    .row > div {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 240px;
}}
@media (min-width:992px) and (max-width: 1199px) {
    .row > div {
    margin-left: 60px;
    margin-bottom: 20px;
}}
