* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
}
h1 {
    text-align: center;
}
p {
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
}
/*=========================================*/

.content {
width: 100%;
}

/*========================================================================================*/
@media (max-width: 767px) {
.content {

    border: 1px solid red;
}
.m-1 {
    width: 100%;
    border: 3px solid black;
    background-color: gray;
    margin-bottom: 80px;
}
.Chicken-h3 {
    border: 2px solid black;
    background-color: #ff9999;
    width: 70px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
.m-2 {
    border: 3px solid black;
    background-color: gray;
    margin-bottom: 80px;
}
.Beef-h3 {
    color: white;
    border: 2px solid black;
    background-color: #cc0000;
    width: 50px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
.m-3 {
    border: 3px solid black;
    background-color: gray;
}
.Sushi-h3 {
    color: black;
    border: 2px solid black;
    background-color: #ffff99;
    width: 50px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
}
/*========================================================================================*/
@media (min-width: 768px) and (max-width: 991px) {

/*=========================================*/

.m-1 {
    width: 50%;
    height: 190px;
    border: 3px solid black;
    background-color: gray;
    margin-left: -2px;
}
.Chicken-h3 {
    border: 2px solid black;
    background-color: #ff9999;
    width: 70px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
/*=========================================*/
.m-2 {
    width: 49%;
    height: 190px;
    margin-left: 394px;
    margin-top: -190px;
    border: 3px solid black;
    background-color: gray;
}
.Beef-h3 {
    color: white;
    border: 2px solid black;
    background-color: #cc0000;
    width: 50px;
    float: right;
    margin-top: -37px;
    text-align: center;
}
/*=========================================*/
.m-3 {
    width: 100%;
    height: 190px;
    margin-top: 16px;
    border: 3px solid black;
    background-color: gray;
}
.Sushi-h3 {
    color: black;
    border: 2px solid black;
    background-color: #ffff99;
    width: 50px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
}
/*========================================================================================*/
@media (min-width: 992px) {
.m-1 {
        width: 33.33%;
    height: 190px;
    border: 3px solid black;
    background-color: gray;
    margin-left: 30px;
}
.Chicken-h3 {
    border: 2px solid black;
    background-color: #ff9999;
    width: 70px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
.m-2 {
    width: 33.33%;
    height: 190px;
    margin-left: 374px;
    margin-top: -190px;
    border: 3px solid black;
    background-color: gray;
}
.Beef-h3 {
    color: white;
    border: 2px solid black;
    background-color: #cc0000;
    width: 50px;
    float: right;
    margin-top: -37px;
    text-align: center;
}
/*=========================================*/
.m-3 {
    width: 33.33%;
    height: 190px;
    margin-top: -190px;
    border: 3px solid black;
    background-color: gray;
    margin-left: 720px;
}
.Sushi-h3 {
    color: black;
    border: 2px solid black;
    background-color: #ffff99;
    width: 50px;
    float: right;
    margin-top: -38px;
    text-align: center;
}
}



@media (min-width: 2500px) {
.m-1 {
        width: 30%;
    height: 299px;
    border: 3px solid black;
    background-color: gray;
}
.Chicken-h3 {
    border: 2px solid black;
    background-color: #ff9999;
    width: 70px;
    float: right;
    margin-top: -1px;
    text-align: center;
}
.m-2 {
    width: 30%;
    height: 299px;
    margin-left: 890px;
    margin-top: -299px;
    border: 3px solid black;
    background-color: gray;
}
.Beef-h3 {
    color: white;
    border: 2px solid black;
    background-color: #cc0000;
    width: 50px;
    float: right;
    margin-top: -37px;
    text-align: center;
}
/*=========================================*/
.m-3 {
    width: 33.33%;
    height: 301px;
    margin-top: -300px;
    border: 3px solid black;
    background-color: gray;
    margin-left: 1759px;
}
.Sushi-h3 {
    color: black;
    border: 2px solid black;
    background-color: #ffff99;
    width: 50px;
    float: right;
    margin-top: -38px;
    text-align: center;
}
}
