#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;




}




#logo-img {

  background: url() no-repeat;
  width: 150px;
  height: 150px;




}

.logo7 {

  margin-right: 10px;

}



.navbar-brand {

  padding-top: 25px;



}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: .75;




}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .6em;








}



.navbar-brand p span {}

.navbar-brand p img {
  height: 20px;
  margin-top: 10px;




}

#collapsable-nav a {
  font-size: 1.2em;


}

#collapsable-nav a span {

  font-size: 1em;
}


#nav-list a {
  color: #951c49;
  text-align: center;

}

#nav-list a:hover {
  background: #e7e7e7;
  margin-right: 5px;



}

#nav-list a span {
  font-size: 2.0em;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;


}

#phone div {
  color: #557c32;
  text-align: right;
  padding-right: 15px;



}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;


}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.jumbotron {

  background: url(jumbotron_992.jpg) no-repeat;
  height: 550px;
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;


}

@media (min-width:1200px) {
  .jumbotron {
    background: url(jumbotron_1200.jpg) no-repeat;
    height: 675px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;

  }


  @media (min-width:768px) and (max-width:991px) {
    .jumbotron {
      background: url(jumbotron_768.jpg) no-repeat;
      height: 432px;
      box-shadow: 0 0 5px #3f0c1f;
      border: 2px solid #3f0c1f;

    }
   





    @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');





  }


  @media (max-width: 767px) {
    .navbar-brand {
      padding-top: 10px;
      height: 80px;



    }

    .panel-footer section {
      text-align: center;
      margin-bottom: 30px;

    }

    .panel-footer section:nth-child(3) {
      margin-bottom: 0;

    }

    .panel-footer section hr {
      width: 50%;


    }

    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;


    } 
    

  }



    @media (max-width:479px) {
      .navbar-brand h1 {
        padding-top: 5px;
        font-size: 6vw;


        
      }
      


      #menu-tile,
      #specials-tile {
        width: 280px;
        margin: 0 auto 15px;



      }


    }

    @media (min-width: 992px) and (max-width: 1199px) {

      /* Header */
      #logo-img {
        background: url('restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
      }


      
     }

    }










  

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;


  }



#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 55%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;

  margin: 70px;






}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;




}

#menu-tile {
  background: url(menu-tile.jpg) no-repeat;


}

#specials-tile {
  background: url(specials-tile.jpg) no-repeat;


}

#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;


}

/*  FOOTER   */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;






}

.panel-footer div.row {
  margin-bottom: 35px;






}

#hours,
#address>span {
  line-height: 2;




}

#hours>span,
#address>span {

  font-size: 1.3em;

}

#address p {
  color: #557C3e;
  font-size: 1.0em;
  line-height: 1.8;


}

#testimonials {


  font-style: italic;

}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

.text-center {
  font-size: 15px;



}

.categories-tile {

  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;





}

.categories-tile span {

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.categories-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;



}

#menu-categories-title+div {
  margin-bottom: 50px;
} 
#menu-item-tile {
  margin-bottom: 25px;
} 
#menu-item-tile hr {
 width: 80%;


} 
.menu-item-tile .menu-item-price {
 font-size: 1.1em;
 text-align: right;



 
} 
.menu-item-tile .menu-item-price span {
   font-size: .6em;




} 
.menu-item-photo {
    position: relative;
    border: 1px solid #61122f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: auto;
    max-width: 250px;
    width: 70%; 

   











 
}  
.menu-item-photo div {

 position: absolute;
 bottom: 0;
 right: 0;
 width: 80px;
 background-color: #557C3e;
 text-align: center;







} 
.menu-item-description {
 padding-right: 30px;



} 
h3.menu-item-tile {
 margin: 0 0 10px;



} 
.menu-item-details {

 font-size: 1.0em;
 font-style: italic;


}
